<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <style>
        @font-face {
            font-family: NanumSquare;
            src: url("{{ url_for('static', filename='/fonts/NanumSquare.ttf') }}");
        }
        body {
            font-family: NanumSquare;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#7952b3">
    <style>

      input[type=password] {
            font-family:'Courier New';
        }
    </style>
</head>
<body>
    <main class="form-signin">
        <form action="/login" method="POST">
        <h1 class="h3 mb-3 fw-normal text-center">로그인</h1>
    
        <div class="form-floating">
            <label for="userId">ID</label>
            <input type="text" class="form-control" id="userId" name="userName" maxlength="16">
        </div>
        <div class="form-floating">
            <label for="userPw" name="upw">PW</label>
            <input type="password" name="upw" class="form-control" id="userPw" maxlength="16">
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>
        </form>
    </main>
</body>
</html>